.about-me {
  display: flex;
  align-items: center;
  height: 500px;
  background: url("../img/my-image.png") no-repeat;
  background-position: center right;
  background-size: contain;
  
  .about-me__block {
    display: flex;
    flex-direction: column;

    h1 {
      margin-bottom: 32px;
      font-size: 48px;
    }

    p {
      margin-bottom: 40px;
      font-size: 18px;
    }

    .about-me__button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 40px;
      background: $blue;
      border-radius: 10px;
      color: $white;
    }
  }
}