<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="description" content="Fast landing page creation" />
    <title>Aleksandr Simakhin — Landing Page</title>
    <link rel="stylesheet" href="/vendors/normalize-css/normalize.min.css" />
    <script>
      if(!window.HTMLPictureElement) {
        document.createElement("picture");
      };
    </script>
  </head>
  <body>
    <%= _.template(require('../includes/index/pop-container.html').default)({}) %>
    <%= _.template(require('../includes/common/header.html').default)({}) %>

    <main>
      <%= _.template(require('../includes/index/about-me.html').default)({}) %>
      <%= _.template(require('../includes/index/my-work.html').default)({}) %>
      <%= _.template(require('../includes/index/work-examples.html').default)({}) %>
      <%= _.template(require('../includes/index/afterword.html').default)({}) %>
    </main>

    <%= _.template(require('../includes/common/footer.html').default)({}) %>
  </body>
</html>
